<h1>Add a Utoob Movie!</h1>

<h2 id ='utoob-h2'>Itoob, Utoob, we all toob for Utoob!</h2>

<%= form_for(@movie) do |f| %>
 <div class="field" id="form-style">
   <%= f.label :title %>
   <%= f.text_field :title, required: true, autofocus: true %>
    <%= f.label :duration %>
   <%= f.text_field :duration, required: true %>
    <%= f.label :genre %>
   <%= f.text_field :genre, required: true%>
    <%= f.label :description %>
   <%= f.text_field :description, required: true%>
    <%= f.label :trailer %>
   <%= f.text_field :trailer, required: true%>
   <%= f.submit %>
 </div>
<% end %>
